*{
    font-family:'Roboto', sans-serif;
    margin:0;
    padding:0;
}
body{
    margin-right:-10px;
    background-color:#1DA4D1;

}
#header{
    position:absolute;
    width:100%;
    height:600px;
    position:relative;
    text-align:center;
    font-weight:900;
    font-size:60px;
    color:#FFFFFF;
}

#ghostie{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 
}
#header img{
    height:120px;
}
#header p:nth-child(3){
    padding-top:50px;
    font-weight:300;
    font-size:20px;
}
#main_container{
    width:100%;
    margin-bottom:50px;

}
#main{
    font-weight:300;
    display:block;
    color:#FFFFFF;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:500px;
}
#gallery_container{
    text-align: center;
    padding: 50px 0px;
    width:100%;
}
#gallery_container p{
    color:#FFFFFF;
    font-size:32px;
    font-weight:300;
    padding:100px 0px;
}
.gallery{
    width:700px;
    margin-left:auto;
    margin-right:auto;
}
#main p{
    font-size:20px;
    font-weight: 300;
}
#main a{
    font-size:32px;
    text-decoration: none;
}
#main a:visited {
    text-decoration: none;
}
#main a:hover {
    color:#FFFFFF;
}
#textbar_container{
    width:100%;
    text-align:center;
}
#textbar{
    width:1030px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    height:400px;
}
.textblock{
    font-weight:300;
    text-align:center;
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:8px;
    color:#FFFFFF;
    font-size:20px;
    overflow:hidden;
    opacity:0.6;
    transition: opacity .3s ease-out;

}
.textblock:hover{
    opacity:1.0;
}
.textblock p{
    transform: translateY(320%)
}
#textblock1{
    background-color:#AAE2F2;
}
#textblock2{
    background-color:#96DEF2;
}
#textblock3{
    background-color:#72D2ED;
}
#textblock4{
    background-color:#A7EAFC;
}
#textblock5{
    background-color:#7BCAE0;
}
#textblock6{
    background-color:#5BCBEB;
}
#textblock7{
    background-color:#8BE0F7;
}
#textblock8{
    background-color:#B6EBFA;
}
#textblock9{
    background-color:#A7EAFC;
}
#textblock10{
    background-color:#AAE2F2;
}
#footer{
    width:100%;
    height:50px;
    background-color: #FFFFFF;
}
#footer p{
    font-size:12px;
    color:#OOOOOO;
}
